body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#call{
    display: none;
}

.form-container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    top: 0;
    left: 0;
    right: 0;
    
}

.form-container h2 {
    margin-bottom: 20px;
    color: white;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.0) 100%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: black;
}

.form-container p {
    margin-top: 10px;
    color: white;
}

.form-container a {
    color: darkblue;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}



#cardDeck{
    display: none;
}
#canvas {
    z-index: 2;  
    padding: 0;
    margin: auto;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#background {
    display: none;
    background-image: url('/public/images/pokertable-removebg-preview.png');
    background-size: auto 80%;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0; 
}
#logout{
    display: none;
    position: absolute;
    height: 5vh;
    padding: 0;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    
}
#bettingActions{
    border-radius: 10px;
    padding: 1.5%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.player-box {
    width: fit-content;
    height: auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
#boxid0{
    display: none;
    position: absolute;
    top: 15%;
    left: 18%;
    border-radius: 10px;
}
#boxid1{
    display: none;
    position: absolute;
    bottom: 15%;
    left: 18%;
    border-radius: 10px;
}
#boxid2{
    display: none;
    position: absolute;
    top: 15%;
    right: 18%;
    border-radius: 10px;
}
#boxid3{
    display: none;
    position: absolute;
    bottom: 15%;
    right: 18%;
    border-radius: 10px;
}
#boxid4{
    display: none;
    position: absolute;
    bottom: 11%;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
}
  

  .username {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  .chips {
    margin-bottom: 10px;
  }
  
  .turn {
    font-style: italic;
  }